:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* signup */

.signup-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.signup-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.signup-form .form-label {
  flex: 0 0 80px;
  margin-right: 10px;
  text-align: left;
}

.signup-form .form-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}

.btn-signup {
  background-color: #7ed4ff;
  width: 70%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-signup:hover {
  background-color: #355fd2;
}

.login-link {
  color: rgb(255, 200, 0);
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}


/* login */

.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
}

.login-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.login-form .form-label {
  flex: 0 0 80px;
  margin-right: 10px;
  text-align: left;
}

.login-form .form-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}

.btn-login {
  background-color: #7ed4ff;
  width: 70%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #355fd2;
}

.signup-prompt {
  text-align: left;
  margin-top: 15px;
}

.signup-link {
  color: rgb(255, 200, 0);
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* home */

.home-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  font-size: 35px;
}

.username {
  font-size: 2rem;
}

.logout-btn {
  padding: 0.5rem 2.5rem;
  background-color: rgb(228, 93, 86);
  color: white;
  margin: 8px 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}

.content {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 25%;
  padding-top: 200px;
  background-color: #595d63;
  padding: 1rem;
  border-radius: 15px;
}

.main-view {
  flex: 1;
  padding: 1rem;
}

.question-list {
  list-style: none;
  padding: 0;
}

.question-list li {
  cursor: pointer;
  padding: 0.5rem;
  border-bottom: 1px solid #9bdfff;
  font-weight: bold;
}

.question-list li:hover {
  background-color: #909c9d;
}

.question-card {
  background-color: rgb(150, 216, 236);
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 25px;
}

.question-card form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card input[type="text"] {
  width: 45%;
  padding: 12px 20px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  font-size: 16px;
}

.add-question-btn {
  display: block;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgb(110, 185, 208);
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 15px;
  width: 100%;
  font-size: 20px;
}

/* details */

.question-card button[type="submit"] {
  width: 50%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.question-card button[type="submit"]:hover {
  background-color: #e2efff;
}

/* modal */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(185, 185, 185, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: rgb(51, 72, 74);
  padding: 20px;
  border-radius: 4px;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

.question-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-container,
.button-container {
  width: 100%;
}

.question-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 1rem;
  border-radius: 16px;
}

.submit-question-btn {
  padding: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.submit-question-btn:hover {
  background-color: #b5f3ff;
}